@import './normalize.css';
@import './variables.scss';

*, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: $montserrat;
  font-size: $fs-16;
  color: $color-dark;
  padding: 0;
  margin: 0;
}

.container {
  width: 1276px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// Header

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  &__logo {
    display: flex;
    align-items: center;

    &-text {
      font-size: $fs-12;
      line-height: $lh-130;
      font-weight: $fw-600;
      text-transform: uppercase;
    }
  }

  &__logo-link {
   display: flex;
   gap: 8px;
   align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 8px;

    &-link {
      font-size: $fs-12;
      line-height: $lh-130;
      font-weight: $fw-600;
      text-transform: uppercase;
    }

    &-element {
      padding: 12px 20px;
    }
  }

}