@import './normalize.css';
@import './variables.scss';

*, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: $montserrat;
  font-size: $fs-16;
  color: $color-dark;
  padding: 0;
  margin: 0;
}

.container {
  width: 1276px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  overflow: hidden;
}

// Header

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  &__logo {
    display: flex;
    align-items: center;
    margin-left: 20px;

    &-text {
      font-size: $fs-12;
      line-height: $lh-130;
      font-weight: $fw-600;
      text-transform: uppercase;
      letter-spacing: .6px;
    }
  }

  &__logo-link {
   display: flex;
   gap: 8px;
   align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 8px;

    &-link {
      font-size: $fs-12;
      line-height: $lh-130;
      font-weight: $fw-600;
      text-transform: uppercase;
      letter-spacing: .6px;
    }

    &-element {
      padding: 12px 20px;
    }
  }

}

// Section Hero

.hero {
  background: url('../img/hero-section.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 524px;
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    width: 426px;
    margin: 60px auto;
    gap: 12px;
    text-align: center;
  }

  &__text {
    font-family: $allura;
    font-weight: $fw-400;
    line-height: $lh-100;
    color: $color-static-white;
    font-size: $fs-24;
    letter-spacing: 1.2px;
  }

  &__header {
    font-size: $fs-32;
    font-weight: $fw-600;
    line-height: $lh-150;
    color: $color-static-white;
    text-transform: uppercase;
    letter-spacing: 5.5px;
  }

  &__btn-link {
    width: 235px;
    background-color: $color-dark;
    color: $color-static-white;
    font-size: $fs-12;
    line-height: $lh-130;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .7px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

// Section About

.about {
  background-color: $color-primary;
  max-height: max-content;
  padding: 60px 0;

  &__wrapper {
    display: flex;
    height: 528px;
    background-color: $color-static-white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &-container {
      width: 50%;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }

    .about__wrapper-text {
      width: 426px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      margin-left: 60px;
  
      .about__text-head {
        font-family: $allura;
        font-weight: $fw-400;
        font-size: $fs-24;
        line-height: $lh-100;
        letter-spacing: .5px;
        color: $color-primary;
      }

      .about__header {
        font-size: $fs-24;
        font-weight: $fw-600;
        line-height: $lh-152;
        letter-spacing: 4px;
        text-transform: uppercase;
      }

      .about__text {
        line-height: $lh-148;
      }
    }
    
    .about__wrapper-img {
      background-image: url('../img/santa.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 50%;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }
}

// Section Slider

.slider {
  background-color: $color-primary;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 57px;
  padding-bottom: 60px;

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .slider__text-head {
    font-family: $allura;
    font-size: $fs-24;
    letter-spacing: 1px;
    line-height: $lh-100;
    color: $color-static-white;
  }

  .slider__header {
    font-weight: $fw-600;
    font-size: $fs-24;
    line-height: $lh-152;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $color-static-white;
  }

  .slider__wrapper-container {
    padding-left: 160px;
  }

  .slider__slider-el-text {
    font-weight: $fw-600;
    font-size: $fs-80;
    color: $color-static-white;
    text-transform: uppercase;
  }

  .slider__slider-container {
    display: flex;
    gap: 20px;
  }

  .slider__slider-el {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .slider__slider-el-img {
    width: 200px;
    height: 200px;

    &--third {
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }

  .slider__wrapper-btn {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 20px;
  }

  .slider__btn {
    width: 56px;
    height: 56px;
    background: none;
    border: 1px solid $color-static-white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &--left {
      border-color: $color-static-white-40;
    }
  }

}

// Section Gifts
.gifts {
  background-color: $color-primary;
}

.gifts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 56px 0;
}

.gifts__wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  .gifts__text-head {
    font-size: $fs-24;
    letter-spacing: 1px;
    color: $color-static-white;
    font-family: $allura;
    position: relative;
    top: 4px;
  }

  .gifts__head {
    font-weight: $fw-600;
    font-size: $fs-24;
    color: $color-static-white;
    line-height: $lh-152;
    letter-spacing: 3.9px;
    text-transform: uppercase;
    position: relative;
    top: 2px;
    left: 2px;
  }
}

.gifts__cards-container {
  display: flex;
  gap: 12px;
}

.gifts__card {
  display: flex;
  flex-direction: column;
  background-color: $color-content-background;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.gifts__card-text-wrapper {
  background-color: $color-static-white;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: -webkit-fill-available;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.gifts__card-text-top-header {
  font-size: $fs-12;
  font-weight: $fw-600;
  line-height: $lh-130;
  letter-spacing: .6px;
  text-transform: uppercase;
  position: relative;
  top: -2px;
  left: 2px;

  &--blue {
    color: $color-tag-purple;
  }

  &--green {
    color: $color-tag-green;
  }

  &--pink {
    color: $color-tag-pink;
  }
}

.gifts__card-text-header {
  font-weight: $fw-600;
  line-height: $lh-152;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  position: relative;
  top: -1px;
  left: 2px;
}