// Typography

$montserrat: 'Montserrat', sans-serif;
$allura: 'Allura', cursive;

$fs-12: 12px;
$fs-16: 16px;
$fs-24: 24px;
$fs-32: 32px;
$fs-80: 80px;

$lh-100: 100%;
$lh-130: 130%;
$lh-148: 148%;
$lh-150: 150%;
$lh-152: 152%;

$ls-5: 5%;
$ls-8: 8%;
$ls-16: 16%;
$ls-18: 18%;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$color-primary: rgba(255, 70, 70);
$color-primary-10: rgba(255, 70, 70, .1);
$color-dark: rgba(24, 28, 41);
$color-static-white: rgba(255, 255, 255);
$color-static-white-40: rgba(255, 255, 255, .4);
$color-static-white-20: rgba(255, 255, 255, .2);
$color-tag-purple: rgba(67, 97, 255);
$color-tag-pink: rgba(255, 67, 247);
$color-tag-green: rgba(6, 164, 79);
$color-content-background: rgba(236, 243, 248);
$color-overlay: rgba(24, 28, 41, .8);